<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="utf-8">
	<title>App</title>
	<script src="js/vendor/jquery-3.4.1.min.js"></script>
	<script src="js/vendor/angular-1.7.9.min.js"></script>
	<script src="js/vendor/moment-with-locales-2.24.0.js"></script>
	<script src="js/vendor/sockjs-1.1.2.min.js"></script>
	<script src="js/app.js"></script>
	<script src="components/cog/cog.js"></script>
	<script src="components/face/face.js"></script>
	<script src="components/hand/hand.js"></script>
	<script src="components/bobbin/bobbin.js"></script>
	<script src="components/escapement/escapement.js"></script>
	<script src="components/deadbeat/deadbeat.js"></script>
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/app.css">
</head>
<body>

	<div id="page" ng-controller="mainCtrl">

		<div id="clock" ng-click="seethrough=!seethrough">

			<cog: col="'blue'" teeth="50" left="600" top="450" start-angle="1.2" angle="angles.cog6"></cog:>
			<cog: col="'blue'" teeth="70" left="704" top="233" start-angle="0.7" angle="angles.cog5"></cog:>
			<cog: col="'blue'" teeth="50" left="916" top="348" start-angle="-6" angle="angles.second"></cog:>
			<cog: col="'blue'" teeth="12" left="916" top="348" start-angle="1" angle="angles.second"></cog:>
			<deadbeat: radius="240" col="'pink'" left="916" top="23" start-angle="0" angle="angles.deadbeat"></deadbeat:>
			<!-- deadbeat radius ? -->
			<escapement: col="'pink'" teeth="30" left="916" top="348" start-angle="4.7" angle="angles.second"></escapement:>
			<!-- escapement radius 230 -->
			<cog: col="'red'" teeth="64" left="800" top="450" start-angle="0" angle="angles.cog1"></cog:>
			<cog: col="'red'" teeth="8" left="800" top="450" start-angle="10.3" angle="angles.cog1"></cog:>
			<cog: col="'red'" teeth="90" left="600" top="450" start-angle="0" angle="angles.cog2"></cog:>
			<cog: col="'red'" teeth="10" left="600" top="450" start-angle="0" angle="angles.cog2"></cog:>
			<cog: col="'green'" teeth="30" left="517" top="450" start-angle="9" angle="angles.cog3"></cog:>
			<cog: col="'green'" teeth="8" left="517" top="450" start-angle="-7" angle="angles.cog3"></cog:>
			<cog: col="'green'" teeth="32" left="600" top="450" start-angle="0" angle="angles.cog4"></cog:>
			<cog: col="'grey'" teeth="50" left="400" top="650" start-angle="2.5" angle="angles.bobbin"></cog:>
			<bobbin: col="'grey'" drop="angles.weightDrop+150" radius="86" left="400" top="650" start-angle="0" angle="angles.bobbin"></bobbin:>

			<div id="mask" ng-class="{seethrough:seethrough}"></div>
			<div id="face" ng-class="{seethrough:seethrough}">
				<face:></face:>
				<span class="numeral one">1</span>
				<span class="numeral two">2</span>
				<span class="numeral three">3</span>
				<span class="numeral four">4</span>
				<span class="numeral five">5</span>
				<span class="numeral six">6</span>
				<span class="numeral seven">7</span>
				<span class="numeral eight">8</span>
				<span class="numeral nine">9</span>
				<span class="numeral ten">10</span>
				<span class="numeral eleven">11</span>
				<span class="numeral twelve">12</span>
				<hand: styl="'hour'" angle="angles.hour"></hand:>
				<hand: styl="'minute'" angle="angles.minute"></hand:>
				<hand: ng-if="showSeconds" styl="'second'" angle="angles.second"></hand:>
			</div>

		</div>
	</div>


</body>
</html>